.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #395a7d;
    padding: 2em;
    border-radius: 20px;
    border: #252729 5px solid;
}

.container h2{
    color: #F8F9FA;
    font-size: 2em;
    margin-bottom: 0.5em;
}

#notfound{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}