.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    background-color: #395a7d;
    border-radius: 15px;
    border: #252729 5px solid;
    box-shadow: 0 0 5px 1px #4c7196;
    transition: transform 0.1s;
    padding: 1.7em 2em 0em 2em;
    animation: container-glow 2s infinite alternate;
}

@keyframes container-glow{
    from {
        box-shadow: 0 0 -10px 10px #4675a4
    } to{
        box-shadow: 0 0 10px 10px #4675a4;
    }
}

.LoginSignup{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form h1{
    display: flex;
    background-color: #c25c5c;
    color: #F8F9FA;
    font-size: 1.6em;
    width: 100%;
    justify-content: center;
    padding: 0.5em 0;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input {
    display: flex;
    align-items: center;
    background-color: #36849e;
    padding: 0.2em 1.5em;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0.9em;
    transition: background-color 0.5s;
}

.input:hover {
    background-color: #547ca5;
}

.input input {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #1f4f83;
    width: 100%;
}

.form-icon{
    width: 0.5em;
    font-size: 4em;
    margin-right: 0.2em;
}

.tip{
    color: #bbbcbd;
    font-size: 1em;
}

.tip span{
    color: #79bcff;
    cursor: pointer;
}

.sumbit-container{
    display: flex;
    gap: 1em;
    margin: 1em auto;
    width: 100%;
}

.submit{
    background-color: #04AA6D;
    color: #F8F9FA;
    padding: 0.5em 2.5em;
    font-size: 1.2em;
    width: 100%;
    border: 2px solid #048355;
    border-radius: 0.8em;
    cursor: pointer;
    transition: background-color 0.5s;
}

.submit:hover{
    background-color: #439c7b;
}

.gray{
    background-color: #a0a1a2;
    border: 2px solid #969899;
    color: #383e44;
}

.gray:hover{
    background-color: #b8b9ba;
}

.alerts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.alert{
    display: flexbox;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #c25c5c;
    border: solid 1px #a43d3d;
    padding: 0.3em 0;
    color: #F8F9FA;
    border-radius: 4px;
    margin-bottom: 0.4em;
}
