.header {
    display: flex;
    z-index: 10000;
    flex-direction: row;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    justify-content: space-between;
    background-color: #142639;
}

.logo {
    display: flex;
    align-items: center;
}


.logo img {
    padding: 1em;
    cursor: pointer;
    display: block;
    width: 6em;
    height: auto;
    transition: 0.5s background-color; 
}

.logo img:hover {
    background-color: #223549;
}
h1{
    color: #F8F9FA;
    font-size: 2em;
    margin-left: 0.5em;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 40%;
    flex-direction: row-reverse;
}

.navbar ul{
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li{
    border-left: #101e2d solid 1px;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1em;
}

.navbar ul li a{
    color: #F8F9FA;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.5s color;
}

.nav-icon{
    font-size: 2em;
}

.navbar ul li:hover{
    cursor: pointer;
    background-color: #223549;
}

.ham-menu{
    border-left: #101e2d solid 1px;
    width: 5em;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1em;;
    cursor: pointer;
}

.ham-icon{
    font-size: 2em;
}

.ham-menu:hover{
    background-color: #223549;
}

@media screen and (max-width: 768px){
    .navbar{
        width: 20%;
    }
    
    .navbar ul{
        display: none;
    }

    .ham-menu{
        display: flex;
    }
}

